/* public/css/custom.css */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer h4 {
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a img {
    width: 24px;
}
